form {
    display: flex;
    align-items: center;
}

input {
    margin-left: 1%;
    height: 26px;
    width: 16%;
}

.form_btn {
    background-color: teal;
    height: 30px;
    width: 16%;
    color: white;
    margin-left: 1%;
}